:root {
    --med-gray: #808080;
    --bg: #212528;
    --color-danger: #dc3545;
}


input {
    border: 1px solid gray !important;
    background: none !important;
    color: white !important;
}

input::placeholder {
    color: var(--med-gray) !important;
}

.bi-star-fill,
.bi-star {
    font-size: 75%;
    color: var(--med-gray);
}

.h-list {
    display: flex !important;
}

.h-list li {
    flex: 1 !important;
    text-align: center !important;
}

.star .btn {
    padding: 3px;
}

#album_star_input {
    padding: 4px 0 7px;

}

.star {
    padding: 0;
    color: gray;
}

.star:hover {
    cursor: pointer;
}

.input-group-text {
    border-color: var(--med-gray);
    color: #dcdcdc;
}

input:focus,
input.form-control:focus,
input:focus {
    /*removing that awful blue border*/
    outline: none;
    box-shadow: none;
}

.move-up-btn,
.move-down-btn {
    padding-left: 5px;
    padding-right: 5px;
}

.display-inline-blk {
    display: inline-block;
}

#track_container {
    overflow-x: hidden;
    padding: 0;
    display: block;
    height: 130px;
    overflow-y: scroll;
}

.card {
    max-height: 500px;
}

.card-text-container {
    height: 300px;
    overflow-y: scroll;
    z-index: 0;
}

.container-of-track-container-sigh {
    display: block;
    height: 145px;
    margin-bottom: 20px;
    z-index: 1;
    border-radius: 7px;
    margin-bottom: 10px;
    /* border: 1px solid var(--med-gray); */
    box-shadow: inset 60px 0 120px #373d439d, inset -00px 0 120px #000000a2;
    padding: 3%;
}

.glow-light {
    box-shadow: 0 0 1px 1px var(--med-gray);
}

.dragging {
    opacity: 0.5;
}

.drag-handle {
    font-size: 20px;
    width: 30px;
    text-align: center;
    padding-left: 7px;
    padding-right: 15px;
}

.drag-handle:hover {
    cursor: pointer;
}

.trash-can-btn {
    color: var(--color-danger);
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 5px;
}

.trash-can-btn:hover {
    background-color: var(--color-danger);
    color: white;
}

.trash-can-btn:active {
    background: rgb(255, 39, 39) !important;

}