.card {
    height: 225px;
}

.card-text-container {
    height: 175px;
    overflow-y: auto;
}

input {
    border: 1px solid gray !important;
    background: none !important;
    color: white !important;
}

input::placeholder {
    color: darkgray !important;
}

.bi-star-fill, .bi-star {
    font-size: 75%;
    /*padding-right: 3%;*/
    /*padding-left: 3%;*/
    color: #808080;
    /*text-align: center;*/


}

li button {
    /*padding: 0 !important;*/
    /*margin: 0 !important;*/
}

.h-list {
    display: flex !important;
}

.h-list li {
    flex: 1 !important;
    text-align: center !important;
}

.star .btn {
    padding: 3px;
}

#album_star_input {
    padding: 4px 0 7px;

}

.star {
    padding: 0;
    color: gray;
}

.star:hover {
    cursor: pointer;
}
